<!DOCTYPE html>
<html lang="en">
<head>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/rtmController.js"></script>
    
    <link rel="stylesheet" type="text/css" href="css/page.css">    
</head>

<body>
<div ng-app="visualRtm" ng-controller="rtmController">

<h2>List: {{tasklist.tasks.list.id}}</h2>
    <div class='container'>
        <div class='right'>
            <table class='locationList'>
                <tr><th>Locations</th></tr>
                <tr ng-repeat="loc in loclist.locations.location">
                    <td class='location'>{{loc.name}}</td>
                </tr>
            </table>
        </div>
        <div class='left'>
            <table class='tagList'>
                <tr><th>Tags</th></tr>
                <tr ng-repeat="tag in taglist">
                    <td class='tag'>{{tag}}</td>
                </tr>
            </table>
        </div>
        <div class='middle'>
            <table class='taskList'>
                <tr ng-repeat="task in tasklist.tasks.list.taskseries">
                    <td class='task'>
                        <span class='taskName'>{{task.name}}</span>
                        <br class='separator'/>
                        <span class='location' ng-if="task.location_id">@{{task.location_id}}&nbsp;</span>
                        <span ng-repeat="tag in task.tags">
                            <span class='tag'>{{tag}}&nbsp;</span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>  